* {
  color: #C5C1C0;
}

body {
  margin: 0;
  padding: 0;
  background: #0A1612;
  background-image: url(background.png);
}

.wrapper {
  width: 80%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-family: 'ZCOOL KuaiLe', cursive;
}

h2 {
  margin-top: 0;
  text-align: justify;
}

.logo-side {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-additional {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

@media only screen and (max-width: 700px) {
  .main {
    margin-top: 0px;
  }
}

.minify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 700px) {
  .minify {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.css_input_mini {
  min-height: 40vh;
  min-width: 40%;
  -webkit-transition: .1s;
  transition: .1s;
  resize: none;
  background: #C5C1C0;
  color: #000;
}

@media only screen and (max-width: 700px) {
  .css_input_mini {
    min-width: 100%;
  }
}

.button_mini {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 50px solid red;
  border-bottom: 25px solid transparent;
  margin: 0 40px 0 40px;
}

.button_mini:hover {
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .button_mini {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin: 30px 0 30px 0;
  }
}

.site_mini {
  min-height: 40vh;
  min-width: 40%;
  resize: none;
  background: #C5C1C0;
  color: #000;
}

@media only screen and (max-width: 700px) {
  .site_mini {
    min-width: 100%;
    margin-bottom: 10px;
  }
}

.animation-empty {
  -webkit-animation: bump .45s linear;
          animation: bump .45s linear;
}

@-webkit-keyframes bump {
  25% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  75% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  100% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}

@keyframes bump {
  25% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  75% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  100% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}
/*# sourceMappingURL=style.css.map */